body {
	background-color: #fafafa;
}
 
.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
	border: 1px solid blue;
}

h1{
	font-size: 96px;
	letter-spacing: -1px;
}
h2{
	font-size:36px;
	color: #3d4243;
}
p{
	font-size: 21px;
	color: #9b9c9b;
}
.pageheader p  {
	font-size: 48px;

}
.page-header{
	margin-top: 72px;
	margin-bottom: 120px;
}
section{
	margin: 0 24px;
	margin-bottom: 196px;
	padding: 0 24px;
	border: 1px solid black
}
section p {
	margin-bottom: 24px;
}
section header img{
	width: 100px;
}
section footer img{
	margin: 0 12px;
}