footer
{
    background-color: #333;
}
footer,

footer a 
{
    color: white;
}
nav ul 
{
    background-color: #dddddd;
}
nav ul li 
{
    border-bottom: 1px dotted #333333;
}
nav ul li a 
{
    color: #333333;
    text-decoration: none;
}
/*
anchor tags:
a:link unused link
a:hover used when your cursor hovers over the anchor tag link
a:visited used when the anchor tag link has been clicked on previously
a:active used whn you are actually clicking the anchor tag
*/


nav ul li a:hover
{
    color: rebeccapurple;
    font-weight: bold;
    font-size: larger;
}

nav ul li a:active
{
    color: red;
    font-weight: bold;
}

ul.navigation 
{
    list-style: none;
    padding-left: 0;
}
ul li 
{
list-style-type: none;
    padding: 0;
}
footer ul li 
{
    padding: 10px;
}